
body {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  height: 40px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.app-title {
  margin: 0px;
}

.content {
  height: calc(100vh - 56px);
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.screen-container {
  width: 70%;
}

.list-container {
  width: 30%;
}

.screen {
  width: 100%;
  height: 50%;
  background-color: #000;
  border-radius: 1rem;
  margin-top: 1rem;
}

.list {
  height: 70%;
  overflow-y: auto;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 4rem;
  cursor: pointer;
}

.item.selected {
  background-color: #ccc;
  padding: 0.5rem 0rem;
}

.thumbnail {
  height: 3.5rem;
  max-width: 5rem;
  width: 30%;
  background-color: #000;
  border-radius: 0.5rem;
}

.item-title {
  margin: 0px;
  margin-left: 1rem;
}

.change-order {
  background: url(./public/drag-handle-svgrepo-com.svg);
  height: 2rem;
  width: 2rem;
  background-size: contain;
  border: 0px;
  align-self: center;
  cursor: grab;
  touch-action: none;
}

.title-controls {
  display: flex;
  justify-content: space-between;
}

.screen-title {
  margin: 0px;
  margin-top: 0.5rem;
}

.control-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 0.5rem;
}

.control {
  height: 2rem;
  width: 2rem;
  border: 0px;
  background-size: contain;
  cursor: pointer;
}

.control.first {
  background-image: url(./public/double-chevron-left-svgrepo-com.svg);
}

.control.prev {
  background-image: url(./public/chevron-left-svgrepo-com.svg);
}

.control.next {
  background-image: url(./public/chevron-right-svgrepo-com.svg);
}

.control.last {
  background-image: url(./public/double-chevron-right-svgrepo-com.svg);
}

@media only screen and (max-width: 1024px) {
  body {
      margin: 0 8px;
  }

  .list-container {
      width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  body {
      margin: 0 8px;
  }

  .content {
      flex-direction: column;
  }

  .screen-container {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
  }

  .screen {
      flex-grow: 1;
  }

  .list-container {
      width: 100%;
      height: 50%;
  }

  .list {
      height: 100%;
      margin-top: 0px;
  }
}
